@use "PageSample" as *;

#projectSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    overflow: auto;
}

.projectRow {
    display: flex;
    gap: 2rem;
    font-size: 1.25rem;
    max-width: 80%;

}

.projectDescription {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 0.1rem solid #F5333F;
    padding-bottom: 2rem;

    & button {
        margin-top: 1rem;
        padding: 1rem;
        font-size: 1.2rem;
        max-width: 20%;
    }

}

.projectDescription h1 {
    font-family: Inconsolata-Bold;
}

.projectDescription h2 {
    color: #F5333F;
}

#projectsSeeMoreButton {
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

.projectRow img {
    filter: grayscale(100%);
    max-width: 35%;
    aspect-ratio: 1, 1;

}

.projectRow img:hover {
    filter: grayscale(0%);
    cursor: pointer;
}